@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300;400;500;600;700&family=Kanit:ital,wght@1,100&family=Raleway:ital,wght@0,200;0,400;1,200;1,400&family=Sono:wght@300;600&family=Source+Sans+Pro:wght@300;400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;600&family=Kanit:ital,wght@1,100&family=Raleway:ital,wght@0,200;0,400;1,200;1,400&family=Sono:wght@300;600&family=Source+Sans+Pro:wght@300;400&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Anuphan', sans-serif;
}

/* Accounts Style */
.card-client{
margin-top: 5rem;
position: relative;
width: 370px;
background-color: aliceblue;
border-radius: 20px;
box-shadow: 0 25px 80px rgba(0,0,0,0.2);
height: 270px;
}
.imgbx{
position: absolute;
left: 50%;
top: -50px;
transform: translateX(-50%);
width: 120px;
height: 120px;
background: #0a5cb8;
border-radius: 20px;
box-shadow: 0 15px 30px rgba(0,0,0,0.4);
transition: 0.5s;
overflow: hidden;
}
.card-client .imgbx:hover{
width: 140px;
height: 140px;
}
.imgbx img{
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.card-client .content-client{
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
}
.card-client .content-client .details-client{
padding: 20px;
text-align: center;
width: 100%;
}
.card-client:hover .content-client .details-client{
transform: translateY(0px);
}
.card-client .content-client .details-client h2{
font-size: 1.25em;
font-weight: 600;
color: #000653d7;
line-height: 1.2em;
}
.card-client .content-client .details-client h2 span{
font-size: 0.75em;
font-weight: 500;
opacity: 0.7;
}
.card-client .content-client .details-client .data-client{
display: flex;
justify-content: space-between;
margin: 10px 0;
}
.card-client .content-client .details-client .data-client h3{
font-size: 1.1em;
line-height: 1.2em;
color: #0a5cb8;
font-weight: 600;
}
.card-client .content-client .details-client .data-client h3 span{
font-size: 0.95em;
font-weight: 400;
opacity: 0.8;
}
/* Cards Accounts */
.containerCardAccount{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 1200px;
}
.containerCardAccount .cardAccount{
position: relative;
width: 250px;
height: 380px;
box-shadow:  inset 5px 5px 5px rgba(0, 8, 118, 0.308), 
             inset -5px -5px 5px rgba(255, 255, 255, 0.3),
             5px 5px 5px rgba(0, 0, 0, 0.05),
            -5px -5px 5px rgba(255, 255, 255, 0.3) ;
border-radius: 15px;
margin: 30px;
}
.containerCardAccount .cardAccount .cardABox{
position: absolute;
top: 20px;
left: 20px;
right: 20px;
bottom: 20px;
background: aliceblue;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
border-radius: 15px;
display: flex;
align-items: center;
transition: 0.5s;
}
.containerCardAccount .cardAccount:hover .cardABox{
transform: translateY(-50px);
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.containerCardAccount .cardAccount .cardABox .contentCardA{
padding: 30px;
text-align: center;
}
.containerCardAccount .cardAccount .cardABox .contentCardA h2{
position: absolute;
top: -10px;
right: 20px;
font-size: 6em;
font-weight: 900;
color: rgba(0, 8, 99, 0.04);
transition: 0.5s;
pointer-events: none;
}
.containerCardAccount .cardAccount:hover .cardABox .contentCardA h2{
color: rgba(0, 8, 99, 0.07);
}
.containerCardAccount .cardAccount .cardABox .contentCardA h3{
font-size: 1.5em;
color: #003785;
z-index: 1;
transition: 0.5s;
font-weight: 700;
}
.containerCardAccount .cardAccount .cardABox .contentCardA p span{
font-size: 1.1em;
font-weight: 600;
color: #023e91;
}
.containerCardAccount .cardAccount .cardABox .contentCardA p{
font-size: 1em;
font-weight: 300;
color: #004ab1;
z-index: 1;
transition: 0.5s;
}
.containerCardAccount .cardAccount .cardABox .contentCardA .fa-money-bill-transfer{
position: relative;
display: inline-block;
color: #004fbe;
font-size: 1.7rem;
transition: all 0.5s;
}
.containerCardAccount .cardAccount .cardABox .contentCardA .fa-money-bill-transfer:hover:not(.btnDeleteA){
color: #006aff;
transform: scale(1.1);
}
.btnDeleteA{
position: absolute;
right: 5px;
top: 10px;
color: #004fbe;
font-size: 1.7rem;
transition: all 0.5s;
}
.btnDeleteA:hover{
color: #006aff;
}
/* Button create account */
.btn-create-account{
padding: 5px;
background: #003785;
text-decoration: none;
color: aliceblue;
border-radius: 10px;
font-size: 15px;
font-weight: 600;
transition: all 0.3s;
box-shadow: 0 2px 5px rgb(42, 118, 250);
}
.btn-create-account:hover{
transform: scale(1.1);
background: aliceblue;
color: #003785;
box-shadow: 0 2px 5px rgb(0, 42, 255);
}
.btn-create-account i{
padding-left: 5px;
}
/* Button create cards */
.btn-create-cards{
padding: 5px;
text-decoration: none;
border-radius: 10px;
font-size: 20px;
font-weight: 600;
transition: all 0.3s;
background: aliceblue;
color: #003785;
box-shadow: 0 2px 5px rgb(0, 42, 255);
}
.btn-create-cards:hover{
transform: scale(1.1);
color: aliceblue;
background: #003785;
box-shadow: 0 2px 5px rgb(42, 118, 250);
}
.btn-create-cards i{
padding-left: 5px;
}
/*Create cards*/
.create-CardH2{
color: rgb(255, 255, 255);
text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.489);
font-size: 2rem;
font-weight: 500;
}
.select-card-form{
display: flex;
justify-content: center;
position: relative;
width: 310px;
height: 50px;
}
.select-box{
border: none;
border-radius: 5px;
outline: none;
appearance: none;    
padding: 0 30px 0 15px;
width: 100%;
color: #003785;
background: white;
font-size:  20px;
text-align: center;
}
.select-card-form .icon-container{
width: 50px;
height: 100%;
position: absolute;
border-radius: 5px;
right: 0;
display: flex;
align-items: center;
justify-content: center;
background-color: aliceblue;
pointer-events: none;
}
.icon-container i{
font-size: 25px;
color: #004ab1;
}
/* Transfers */
.mainTransfer{
width: 400px;
height: 570px;
background: #013bc2c7;
overflow: hidden;
border-radius: 10px;
box-shadow: 5px 20px 50px #00000070;
}
#checkTransfer{
display: none;
}
.yourAccount{
position: relative;
width: 100%;
height: 100%;
}
.yourAccount label{
color: white;
font-size: 2.2em;
display: flex;
justify-content: center;
font-weight: bold;
cursor: pointer;
margin: 40px;
transition: .5s ease-in-out;
text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.489);
}
.yourAccount input{
width: 78%;
height: 50px;
background: white;
justify-content: center;
display: flex;
margin: 0px auto;
padding: 10px;
border: none;
outline: none;
border-radius: 5px;
text-align: center;
font-size: 1.3em;
}
.otherAccount{
height: 530px;
background: rgb(1, 120, 255);
border-radius: 60% / 10%;
transform: translateY(-40px);
transition: 0.8s ease-in-out;
}
.otherAccount input{
width: 78%;
height: 50px;
background: aliceblue;
justify-content: center;
display: flex;
margin: 10px auto;
padding: 10px;
outline: none;
border: none;
border-radius: 5px;
text-align: center;
font-size: 1.3em;
}
.otherAccount label{
color: #ffffff;
font-size: 1.1em;
font-weight: 400;
transform: scale(0.9);
margin-top: 5px;
margin-bottom: 10px;
}
#checkTransfer:checked ~ .otherAccount{
transform: translateY(-480px);
}
#checkTransfer:checked ~ .otherAccount label{
font-size: 2.2em;
display: flex;
justify-content: center;
font-weight: bold;
cursor: pointer;
margin: 40px;
transition: .5s ease-in-out;
text-shadow: 2px 5px 10px rgba(255, 255, 255, 0.489);
transform: scale(1);
}
#checkTransfer:checked ~ .yourAccount label{
transform: scale(0.6);
}
/* Table Transactions */
.containerTransaction{
width: 82vw;
height: 60vh;
background-color: #ffffff6c;
border-radius: 10px;
margin-left: 3.5rem;
backdrop-filter: blur(7px);
box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.356);
overflow: hidden;
}
.table_transactions, th, td{
padding: 1rem;
}
.table_transactions{
width: 100%;
}
.table-header{
width: 100%;
height: 10%;
background-color: #fff4;
padding: .8rem 1rem;
}
.table-header h1{
color: white;
font-size: 2rem;
font-weight: 600;
text-shadow: 2px 5px 5px #006aff;
}
.table-body{
width: 95%;
max-height: calc (89% - 1.6rem);
background-color: #fffb;
margin: .8rem auto;
border-radius: 0.6rem;
overflow: auto;
}
.table-body::-webkit-scrollbar{
width: 0.5rem;
height:  0.5rem;
}
.table-body::-webkit-scrollbar-thumb{
border-radius: 0.5rem;
background-color: #0004;
visibility: hidden;
}
.table-body:hover::-webkit-scrollbar-thumb{
visibility: visible;
}
thead th{
top: 0;
left: 0;
background-color: #006aff5c;
}
tbody tr:nth-child(even){
background-color: #0000000b;
}
tbody tr:hover{
background-color: #fff6;
}
/* Cards Loans*/
.containerCardLoans{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 1200px;
}
.containerCardLoans .cardLoans{
position: relative;
width: 290px;
height: 290px;
box-shadow:  inset 5px 5px 5px rgba(0, 8, 118, 0.308), 
             inset -5px -5px 5px rgba(255, 255, 255, 0.3),
             5px 5px 5px rgba(0, 0, 0, 0.05),
            -5px -5px 5px rgba(255, 255, 255, 0.3) ;
border-radius: 15px;
margin: 30px;
}
.containerCardLoans .cardLoans .cardLBox{
position: absolute;
top: 20px;
left: 20px;
right: 20px;
bottom: 20px;
background: aliceblue;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
transition: 0.5s;
}
.containerCardLoans .cardLoans:hover .cardLBox{
transform: translateY(-50px);
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.containerCardLoans .cardLoans .cardLBox .contentCardL{
padding: 30px;
text-align: center;
}
.containerCardLoans .cardLoans .cardLBox .contentCardL h2{
position: absolute;
top: -10px;
right: 20px;
font-size: 6em;
font-weight: 900;
color: rgba(0, 8, 99, 0.04);
transition: 0.5s;
pointer-events: none;
}
.containerCardLoans .cardLoans:hover .cardLBox .contentCardL h2{
color: rgba(0, 8, 99, 0.07);
}
.containerCardLoans .cardLoans .cardLBox .contentCardL h3{
font-size: 1.6em;
color: #003785;
z-index: 1;
transition: 0.5s;
font-weight: 700;
}
.containerCardLoans .cardLoans .cardLBox .contentCardL p span{
font-size: 1.2em;
font-weight: 600;
color: #023e91;
}
.containerCardLoans .cardLoans .cardLBox .contentCardL p{
font-size: 1em;
font-weight: 300;
color: #004ab1;
z-index: 1;
transition: 0.5s;
}
.containerCardLoans .cardLoans .cardLBox .contentCardL a{
position: relative;
display: inline-block;
color: #004fbe;
font-size: 1.7rem;
transition: all 0.5s;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.containerCardLoans .cardLoans .cardLBox .contentCardL a:hover{
color: #006aff;
transform: scale(1.1);
}
/* Contenedor y títulos */
.containerAccounts{
background-color: #006affa0;
width: 70rem;
border-radius: 10px;
margin-left: 3.5rem;
box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.537) ;
}
.contH1Account{
min-height: 16vh;
}
.accountH1{
color: aliceblue;
font-weight: 600;
text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.473);
font-size: 3rem;
}
.accountH2{
color: rgb(255, 255, 255);
text-shadow: 1px 3px 8px rgba(255, 255, 255, 0.648);
font-size: 2.3rem;
font-weight: 600;
}

/* Footer */
footer{
background: radial-gradient(circle, rgba(9,9,121,1) 7%, rgb(0, 76, 255) 100%); 
min-height: 12vh;
z-index: 10;
position: relative;
}
.social{
width: 10rem;  
display: flex;
align-items: center;
justify-content: space-around;  
gap: 1rem;
}
.social a{
font-size: 2rem;
}

@media screen and (min-width:885px) and (max-width:1205px){
.containerAccounts, .containerTransaction{
width: 50rem;
}
}
@media screen and (min-width:768px) and (max-width:885px){
.containerAccounts, .containerTransaction{
width: 45rem;
margin-left: 0;
}  
}
@media screen and (min-width:680px) and (max-width:768px){
.containerAccounts, .containerTransaction{
width: 40rem;
margin-left: 0;
}   
}
@media screen and (min-width:590px) and (max-width:680px){
.containerAccounts, .containerTransaction{
width: 35rem;
margin-left: 0;
}   
}
@media screen and (min-width:500px) and (max-width:590px){
.containerAccounts, .containerTransaction{
width: 30rem;
margin-left: 0;
}   
}
@media screen and (min-width:415px) and (max-width:500px){
.containerAccounts, .containerTransaction{
width: 25rem;
margin-left: 0;
}   
}
@media screen and (min-width:415px) and (max-width:576px){
.modal-content{
width: 60% !important;
}
.modalAccount{
display: flex;
justify-content: center;
flex-direction: column;
}
}
@media screen and (min-width:320px) and (max-width:415px){
.containerAccounts, .containerTransaction{
width: 18rem;
margin-left: 0;
}   
.card-client{
width: 250px;
height: 410px !important;
}
.data-client{
justify-content:center;
flex-direction: column;
}
.select-card-form{
width: 250px;
}
.modalAccount{
display: flex;
justify-content: center;
flex-direction: column;
}
.modal-content{
width: 80% !important;
}
}
@media screen and (min-width:409px) and (max-width:1024px){
footer{
min-height: 20vh;
justify-content: center;
align-items: center;
}
}
@media screen and (max-width:408px){
footer{
min-height: 20vh;
justify-content: center;
align-items: center;
}
.social_2 h5{
font-size: .9rem;
text-align: center;
}
.table-header h1{
font-size: 1.5rem;
text-align: center;
}
.cardH1{
font-size: 2rem !important;
}
.yourAccount label{
font-size: 1.6rem !important;
}
#checkTransfer:checked ~ .otherAccount label{
font-size: 1.6em !important;
margin: 20px;
}
}
